@import "vars.scss";

@include themify($themes) {
    .about-container {
        width: 55%;
        height: calc(100vh - 500px);
        margin: auto;
        display: flex;
        align-items: center;

        .content-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;


            img {
                width: 20%;
                height: auto;
                padding: 1em;

                background-color: themed("secondary");
                border-radius: 50%;
                box-shadow: 0px 0px 25px rgba(themed("light-grey"), 0.25);
            }

            .body-text {
                width: 50%;
                margin-left: 1em;

                span {
                    font-weight: 600;
                    
                    svg {
                        width: 1em;
                        height: auto;
                    }
                }

                img {
                    width: 1.5em;
                    height: auto;
                    padding: 0;

                    border: none;
                }
            }
        }
    }
}
