@import "vars.scss";

@include themify($themes) {
    background: themed("primary");
    transition: all 0.2s;

    .about-container {
        width: 55%;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 80px;

        .header-container {
            padding-left: 50%;

            h2 {
                color: themed("accent");
                transition: all 0.2s;
            }

            h3 {
                color: themed("primary");
                background-color: themed("h3-bg-colour");
                transition: all 0.2s;
            }
        }
        

        .content-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;


            img {
                width: 190px;
                height: auto;
                padding: 1em;

                background-color: themed("secondary");
                box-shadow: 0px 0px 20px rgba(themed("shadow"), 0.15);
                border-radius: 50%;

                transition: all 0.2s;
            }

            .body-text {
                width: 50%;
                margin-left: 1em;

                p {
                    color: themed("text");
                    transition: all 0.2s;
                }

                span {
                    font-weight: 600;
                    
                    svg {
                        width: 1em;
                        height: auto;
                    }
                }

                img {
                    width: 1.5em;
                    height: auto;
                    padding: 0;

                    border: none;
                }
            }
        }
    }

    @media only screen and (max-width: 1500px) {
        .about-container {
            width: 60%;
        }
    }

    @media only screen and (max-width: 600px) {
        .blur {
            filter: blur(15px);
            
            .about-container {
                width: 80%;

                .header-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: auto;
                    padding-left: 0;
                }
                
                .content-container {
                    flex-direction: column;
                    
                    img {
                        width: 150px;
                        height: 150px;
                    }
                    .body-text {
                        width: 100%;
                    }
                }
            }
        }

        .no-blur {
            .about-container {
                width: 80%;

                .header-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: auto;
                    padding-left: 0;
                }
                
                .content-container {
                    flex-direction: column;
                    
                    img {
                        width: 150px;
                        height: 150px;
                    }
                    .body-text {
                        width: 100%;
                    }
                }
            }
        }
    }
}
