@import "vars.scss";

.artwork-container {
    width: 55%;
    margin: auto;

    background-color: $white;

    .header-container {
        padding-left: 50%;
    }

    .content-container {
        margin: auto;
        padding: 1em;

        .allessio {
            
            video {
                width: 50%;
                height: auto;
            }

            p {

            }
        }
    }
}
