@import "vars.scss";

@include themify($themes) {
    
    .contact-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        background-color: themed("secondary");

        transition: all 0.2s;

        .content-container {
            display: flex;
            flex-wrap: wrap;

            width: 55%;
            margin: auto;
            padding: 1em;

            .header-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: end;
                margin-right: 50%;

                h2 {
                    color: themed("accent");
                    transition: all 0.2s;
                }

                h3 {
                    color: themed("primary");
                    background-color: themed("h3-bg-colour");

                    transition: all 0.2s;
                }
            }

            .contacts {
                width: 55%;
                margin: auto;
                margin-top: 3em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2em;

                .each-contact {
                    display: flex;
                    align-items: center;
                    gap: 2em;

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            width: 2em;
                            height: auto;
                            stroke: themed("text");
                            transition: all 0.2s;
                            
                            #education {
                                    fill: themed("text");
                                    transition: all 0.2s;
                            }
                        }
                    }

                    a {
                        color: themed("text");
                        text-decoration: none;
                        transition: all 0.2s;

                        &:hover {
                            color: themed("accent");
                            stroke: themed("accent");
                        }
                    }

                    
                }
            }

            img {
                width: 190px;
                height: auto;
                padding: 1em;
                margin-top: 3em;

                background-color: themed("primary");
                border-radius: 50%;
                box-shadow: 0px 0px 25px rgba(themed("shadow"), 0.15);
                transition: all 0.2s;
            }
        }
    }
    
    @media only screen and (max-width: 600px) {
        .blur {
            .contact-container {
                .content-container {
                    width: 80%;

                    .header-container {
                        align-items: center;
                        margin: auto;
                    }

                    .contacts {
                        width: 100%;
                        margin: auto;
                        margin-top: 2em;
                        margin-bottom: 2em;

                        .each-contact {
                            span {
                                svg {
                                    width: 1.5em;
                                    height: auto;
                                }
                            }
                        }
                    }
                    img {
                        width: 150px;
                        height: 150px;
                        margin: auto;
                    }
                }
            }
        }

        .no-blur {
            .contact-container {
                .content-container {
                    width: 80%;

                    .header-container {
                        align-items: center;
                        margin: auto;
                    }

                    .contacts {
                        width: 100%;
                        margin: auto;
                        margin-top: 2em;
                        margin-bottom: 2em;

                        .each-contact {
                            span {
                                svg {
                                    width: 1.5em;
                                    height: auto;
                                }
                            }
                        }
                    }
                    img {
                        width: 150px;
                        height: 150px;
                        margin: auto;
                    }
                }
            }
        }
    }
}
