@import "vars.scss";

.contact-container {
    height: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    background-color: $accent-colour;

    .content-container {
        width: 55%;
        margin: auto;
        padding: 1em;

        h2 {
            color: $white;
        }
    }
}
