@import "vars.scss";

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: $accent-colour;

    span {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 2em;
            height: auto;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
