@import "vars.scss";

.footer-container {
    height: fit-content;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    background-color: $off-white;

    .contact-container {
        width: 55%;
        margin: auto;
        padding: 1em;

        .header-container {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-right: 50%;
        }

        .contacts {
            display: flex;
            flex-direction: column;

            .each-contact {
                display: flex;

                svg {
                    width: 2em;
                    stroke: $black;
                }
                
            }
        }
    }
    
    img {
        width: 10em;
        height: auto;
    }
}