@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "SFPro";
    src: url("../fonts/SF-Pro.ttf") format("truetype");
}


html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 150%;

    font-family: Karla;
    scrollbar-width: 0;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 35px;
    font-weight: 800;
}

h2 {
    font-size: 25px;
    font-weight: 800;
}

h3 {
    width: fit-content;
    display: inline-block;
    padding: 0.25em;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}

h4 {
    padding: 0.25em;
    font-size: 18px;
    font-weight: 700;

    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

p, a, a:visited {
    font-size: 20px;
    text-decoration: none;
}

button {
    padding: 0.5em;
    border-radius: 50%;
    
    cursor: pointer;
    border: none;
}
