.home-container {
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    background-color: #F6F6F6;

    .hero-container {
        width: 100%;
        height: calc(100vh - 400px);
        box-sizing: border-box;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .hero-text {
            display: flex;
            flex-direction: column;

            hr {
                height: 1px;
                width: 50px;
                padding: 0;
                margin: auto;
                border: 0;
                border-top: 1px solid #000;
            }

            .name {
                font-size: 35px;
                font-weight: 800;
            }

            .phrase {
                padding: 1em;
                font-size: 18px;
                font-weight: 500;
                text-align: center;

                border-radius: 20px;
                // box-shadow: 0px 0px 20px rgba(#000, 0.25);
                background-color: white;
            }
        }

        .hero-img {
            width: 400px;
            height: auto;
            border-radius: 50%;

            box-shadow: 0px 0px 25px rgba(#888, 0.25);
            // animation: float 6s ease-in-out infinite;
            // border: thick solid #888;
            // animation: pulse 6s infinite both;
        }
        
    }

    .skillset {
        width: 60%;
        padding: 0.5em;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
        background-color: #fff;
        // border: solid thick rgba(#0c817b, 0.5);
        font-size: 14px;
        font-weight: 600;
        border-radius: 40px;
        box-shadow: 0px 0px 20px rgba(#888, 0.25);

        .icons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1em;

            img {
                width: 75px;
                height: auto;
                padding: 0.25em;
    
                border-radius: 50%;

                &:hover {
                    box-shadow: 0px 0px 15px rgba(#888, 0.25);
                }
            }
        }
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 25px 0px rgba(#888 ,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 25px 0px rgba(#888, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 25px 0px rgba(#888, 0.6);
		transform: translatey(0px);
	}
}
