@import "vars.scss";

@include themify($themes) {
    .desktop {
        .nav-bar {
            width: 80%;
            height: 64px;
            padding: 1%;
            left: 9%;
            top: 0.25em;
            position: fixed;
            z-index: 99;
            border-radius: 30px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 700;
            background-color: rgba(themed("primary"), 0.8);
            -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
            box-shadow: 0px 0px 50px rgba(themed("shadow"), 0.25);

            transition: all 0.2s;

            p {
                color: themed("primary");
                background-color: themed("accent");
                padding: 0.25em;
                border-radius: 10px;
                animation: glow 4s infinite;
                transition: all 0.2s;
            }

            .nav-items {
                display: flex;
                justify-content: space-between;
                
                a {
                    margin: 1em;

                    color: themed("text");
                    text-decoration: none;
                    transition: all 0.2s;

                    &:hover {
                        color: themed("accent");
                    }
                }

                button {
                    background-color: rgba(themed("primary"), 0.0);
                    transition: all 0.2s;

                    svg {
                        width: 2em;
                        height: auto;

                        fill: themed("text");

                        &:hover {
                            fill: themed("accent");
                        }
                    }
                }
            }
        }
    }

    .mobile {
        position: fixed;
        top: 15px;
        bottom: 15px;
        z-index: 98;

        .nav-bar {
            .nav-shown {
                width: fit-content;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5em;
                padding: 1em;

                border-radius: 0 20px 0 0;
                background-color: rgba(themed("primary"), 0.8);
                -webkit-backdrop-filter: blur(12px);
                backdrop-filter: blur(12px);
                box-shadow: 0px 0px 1em themed("shadow");
                transition: all 0.2s;

                button:first-child {
                    margin-left: 0;
                    background-color: rgba(themed("primary"), 0.0);
                    
                    svg {
                        width: 2.25em;
                        height: auto;
                        stroke: themed("text");
                        stroke-width: 3;
                    }
                }

                p {
                    color: themed("primary");
                    background-color: themed("accent");
                    padding: 0.25em;
                    border-radius: 10px;
                    font-weight: 700;
                    animation: glow 4s infinite;
                }

                a {
                    margin-left: 1em;
                    color: themed("text");
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 0.25em 0 0.25em 0;
                }

                button {
                    margin-left: 1.25em;
                    background-color: rgba(themed("primary"), 0.0);
                    svg {
                        width: 2.25em;
                        height: auto;
                        stroke: themed("text");
                        fill: themed("text");
                    }
                }
            }

            .nav-hidden {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(themed("secondary"), 0.0);
                border-radius: 50%;

                button {
                    margin-top: 1em;
                    margin-left: 1em;
                    background-color: rgba(themed("primary"), 0.0);
                    
                    svg {
                        width: 2.25em;
                        height: auto;
                        stroke: themed("text");
                        stroke-width: 3;
                    }
                }
            }
        }
    }
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 2em rgba(themed("accent"), 1.0);
    }
    5% {
        box-shadow: 0px 0px 1.85em rgba(themed("accent"), 1.0);
    }
    10% {
        box-shadow: 0px 0px 1.7em rgba(themed("accent"), 1.0);
    }
    15% {
        box-shadow: 0px 0px 1.55em rgba(themed("accent"), 1.0);
    }
    20% {
        box-shadow: 0px 0px 1.4em rgba(themed("accent"), 1.0);
    }
    25% {
        box-shadow: 0px 0px 1.25em rgba(themed("accent"), 1.0);
    }
    30% {
        box-shadow: 0px 0px 1.1em rgba(themed("accent"), 1.0);
    }
    35% {
        box-shadow: 0px 0px 0.95em rgba(themed("accent"), 1.0);
    }
    40% {
        box-shadow: 0px 0px 0.80em rgba(themed("accent"), 1.0);
    }
    45% {
        box-shadow: 0px 0px 0.65em rgba(themed("accent"), 1.0);
    }
    50% {
        box-shadow: 0px 0px 0.5em rgba(themed("accent"), 1.0);
    }
    55% {
        box-shadow: 0px 0px 0.65em rgba(themed("accent"), 1.0);
    }
    60% {
        box-shadow: 0px 0px 0.80em rgba(themed("accent"), 1.0);
    }
    65% {
        box-shadow: 0px 0px 0.95em rgba(themed("accent"), 1.0);
    }
    70% {
        box-shadow: 0px 0px 1.1em rgba(themed("accent"), 1.0);
    }
    75% {
        box-shadow: 0px 0px 1.25em rgba(themed("accent"), 1.0);
    }
    80% {
        box-shadow: 0px 0px 1.4em rgba(themed("accent"), 1.0);
    }
    85% {
        box-shadow: 0px 0px 1.55em rgba(themed("accent"), 1.0);
    }
    90% {
        box-shadow: 0px 0px 1.7em rgba(themed("accent"), 1.0);
    }
    95% {
        box-shadow: 0px 0px 1.85em rgba(themed("accent"), 1.0);
    }
    100% {
        box-shadow: 0px 0px 2.0em rgba(themed("accent"), 1.0);
    }
}
