.navBar {
    width: 100%;
    height: 64px;
    padding: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: bolder;

    .navItems {
        padding-right: 1em;

        display: flex;
        justify-content: flex-end;
        
        a {
            padding: 1em;

            color: black;
            text-decoration: none;

            // &:visited {
            //     color: black;
            //     text-decoration: none;
            // }

            &:hover {
                color: #0c817b;
            }
        }
    }
}
