@import "vars.scss";


.projects-container {
    height: calc(100vh - 500px);
    margin: auto;
    display: flex;
    align-items: center;
    background-color: $off-white;

    .content-container {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;

        .projects {
            display: flex;
            flex-direction: column;
        }
    }
}