@import "vars.scss";


.projects-container {
    height: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    background-color: $off-white;

    .content-container {
        width: 55%;
        margin: auto;
        padding: 1em;

        .project-list {
            display: flex;
            flex-wrap: wrap;
            gap: 3em;
            margin-top: 2em;

            .project {
                width: 40%;
                padding: 1em;
                margin: auto;
                background-color: $white;
                display: flex;
                flex-direction: column;

                border-radius: 20px;
                box-shadow: 0px 0px 20px rgba($light-grey, 0.25);

                p {
                    margin-left: 2em;
                    margin-right: 2em;
                }

                .title {
                    img {
                        width: auto;
                        height: 200px;
                        display: block;
                        margin: auto;
                        border-radius: 5%;

                        box-shadow: 0px 0px 20px rgba($light-grey, 0.25);
                    }
                    
                    h4 {
                        margin: auto;
                        margin-top: 1em;
                    }
                }

                .view-more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2em;

                    a {
                        svg {
                            width: 1.5em;
                            height: auto;

                            &:hover {
                                fill: $accent-colour;
                            }
                        }
                    }
                }

                &:hover {
                    transform: scale(102%);
                    transition: all 0.2s;
                }
            }
        }
    }
}