@import "vars.scss";


.projects-container {
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    background-color: $off-white;

    .content-container {
        width: 55%;
        margin: auto;
        padding: 1em;

        .header-container {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-right: 50%;
        }

        .project-list {
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
            margin-top: 2em;

            .project {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                width: 45%;
                height: 600px;
                padding: 1em;
                margin: auto;
                background-color: $white;
                display: flex;
                flex-direction: column;

                border-radius: 20px;
                box-shadow: 0px 0px 20px rgba($light-grey, 0.25);

                p {
                    margin-left: 1.5em;
                    margin-right: 1.5em;
                }

                .title {
                    img {
                        width: auto;
                        height: 250px;
                        display: block;
                        margin: auto;
                        border-radius: 5%;

                        box-shadow: 0px 0px 20px rgba($light-grey, 0.25);
                    }
                    
                    h4 {
                        margin: auto;
                        margin-top: 1.5em;

                    }
                }

                .view-more {
                    position: absolute;
                    bottom: 1em;

                    a {
                        svg {
                            width: 1.5em;
                            height: auto;
                            margin: 0.5em;
                            fill: $black;

                            &:hover {
                                fill: $accent-colour;
                            }
                        }
                    }
                }

                &:hover {
                    transform: scale(101%);
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}