@import "vars.scss";

@include themify($themes) {
    
    .container {
        width: 3em;
        height: 3em;
        bottom: 2em;
        right: 2em;
        display: none;
        position: fixed;
        z-index: 99;

        border-radius: 50%;
        background-color: rgba(themed("primary"), 0.75);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 25px rgba(themed("shadow"), 0.5);
        transition: all 0.2s ease-in-out;

        &.visible {
            display: block;
        }
        
        svg {
            width: 2em;
            height: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: themed("text");
        }

        &:hover {
            transform: scale(105%);
        }
    }

    @media only screen and (max-width: 600px) {
        .blur {
            .container {
                width: 2em;
                height: 2em;

                svg {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
        }

        .no-blur {
            .container {
                width: 2em;
                height: 2em;

                svg {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
        }
    }
}
