// globals
$black: #000;
$off-black: #090909;
$dark-grey: #3F3F3F;
$grey: #ccc;
$light-grey: #888;
$off-white: #f6f6f6;
$white: #fff;
$accent-colour: #1377c7;
$dark-accent: #197dcd;

// nav


// home


// about
