// colours
$mono-0: #FFFFFF;
$mono-1: #F6F6F6;
$mono-2: #DEE2E6;
$mono-3: #CED4DA;
$mono-4: #ADB5BD;
$mono-5: #868E96;
$mono-6: #495057;
$mono-7: #3F3F3F;
$mono-8: #090909;
$mono-9: #000000;

$red-4: #FF8787;
$red-5: #FF6B6B;
$red-6: #FA5252;
$red-7: #F03E3E;
$red-8: #E03131;

$pink-4: #F783AC;
$pink-5: #F06595;
$pink-6: #E64980;
$pink-7: #D6336C;
$pink-8: #C2255C;

$grape-4: #DA77F2;
$grape-5: #CC5DE8;
$grape-6: #BE4BDB;
$grape-7: #AE3EC9;
$grape-8: #9C36B5;

$violet-4: #9775FA;
$violet-5: #845EF7;
$violet-6: #7950F2;
$violet-7: #7048E8;
$violet-8: #6741D9;

$blue-4: #4DABF7;
$blue-5: #339AF0;
$blue-6: #228BE6;
$blue-7: #1C7ED6;
$blue-8: #1971C2;

$green-4: #69DB7C;
$green-5: #51CF66;
$green-6: #40C057;
$green-7: #37B24D;
$green-8: #2F9E44;

$lime-4: #A9E34B;
$lime-5: #94D82D;
$lime-6: #82C91E;
$lime-7: #74B816;
$lime-8: #66A80F;

$yellow-4: #FFD43B;
$yellow-5: #FCC419;
$yellow-6: #FAB005;
$yellow-7: #F59F00;
$yellow-8: #F08C00;

$orange-4: #FFA94D;
$orange-5: #FF922B;
$orange-6: #FD7E14;
$orange-7: #F76707;
$orange-8: #E8590C;

// light/dark mode declarations
$themes: (
    light: (
        primary: $mono-0,
        secondary: $mono-1,
        accent: $yellow-7,
        off-black: $mono-9,
        dark-grey: $mono-7,
        grey: $mono-5,
        light-grey: $mono-3,
        text: $mono-9
    ),
    dark: (
        primary: $mono-8,
        secondary: $mono-9,
        accent: $yellow-7,
        off-black: $mono-9,
        dark-grey: $mono-7,
        grey: $mono-5,
        light-grey: $mono-3,
        text: $mono-0
    ),
);

@mixin themify($themes) {
    @each $name, $values in $themes {
        .#{$name}-theme {
            $theme-map: $values !global;
            @content;
        }
    }
}

// function to gather correct colour styling
@function themed($key) {
    @return map-get($theme-map, $key);
}

// $primary: $white;
// $secondary: $mono-0;
// $accent: $yellow-7;
// $off-black: $mono-9;
// $dark-grey: $mono-7;
// $grey: $mono-5;
// $light-grey: $mono-3;
